/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
    padding: 0px !important;
}
  
mat-card-header {
    background-color: #6666ff;
    color: white;
    border-radius: 4px 4px 0 0;
    mat-card-title {
        font-weight: 100 !important;
        margin: 8px 0px !important;
    }
}

mat-card-content {
    padding: 16px;
}
  
